<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceabc1">  <td>21/11/30 19:51:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StaticVariable.createBooking1()[pri:0, instance:com.RestPractice.Rest_Basic_Fundamentals.StaticVariable@6a41eaa2]">createBooking1</td> 
  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>21/11/30 19:51:24</td>   <td>6733</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StaticVariable2.createBooking1()[pri:0, instance:com.RestPractice.Rest_Basic_Fundamentals.StaticVariable2@7cd62f43]">createBooking1</td> 
  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>21/11/30 19:51:20</td>   <td>3131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StaticVariable.createBooking2()[pri:0, instance:com.RestPractice.Rest_Basic_Fundamentals.StaticVariable@6a41eaa2]">createBooking2</td> 
  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>21/11/30 19:51:16</td>   <td>-824</td> <td>&nbsp;</td><td title="&gt;&gt;StaticVariable.setUp()[pri:0, instance:com.RestPractice.Rest_Basic_Fundamentals.StaticVariable@6a41eaa2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
</table>
